@charset "UTF-8";
/***********************************************
* Project: Webpack Language-Babel Sass Template
* Developer: rolandolloyd@gmail.com
* Copyright © 2015 GonzalesDesign
* Platform: ES2015, Webpack, Babel & Sass
* Module: SCSS to CSS
***********************************************/
.mainContainer {
  height: auto;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0px;
  padding-right: 0px; }

.landingPageContainer {
  text-align: center;
  border: 1px solid Orange; }

.landingPageDescription {
  text-align: center; }

.introParag1 {
  font-family: "Open-Sans", sans-serif;
  font-weight: 600;
  font-size: 1.2em;
  padding-top: 10px;
  border: 0px solid Orange; }

.introParag2 {
  font-family: "Open-Sans", sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  padding-top: 10px;
  border: 0px solid Orange; }

.menuNavContainerClass {
  margin-right: auto;
  margin-left: auto;
  border: 1px solid Green; }

.menuNavClass {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: .05em;
  display: inline-block;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  color: Grey;
  border: 1px solid Orange; }

h1 {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  font-size: 3em;
  color: Grey; }

h2 {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 400;
  font-size: 2em;
  margin-top: 10px;
  color: grayrgb(56, 60, 60);
  border: 1px solid yellowGreen; }

h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.8em;
  margin-top: 10px;
  color: grayrgb(56, 60, 60);
  border: 1px solid yellowGreen; }

h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  margin-top: 10px;
  color: grayrgb(56, 60, 60);
  border: 1px solid yellowGreen; }

#subHead {
  padding-left: 20px; }

p {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-size: 1em;
  margin-top: 10px;
  color: Red; }

.p2 {
  font: italic bold 18px/30px Georgia, serif;
  width: 50%; }

/**-----|  |-----**/
/**-----| SERVICES |-----**/
.servicesMainContainer {
  height: 350px;
  background-color: #e2e3e3; }

.servicesContainerX {
  width: auto;
  height: auto;
  text-align: center;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 300;
  font-size: 3em;
  text-transform: uppercase;
  margin-top: 10px;
  color: #0f98ab;
  border: 1px solid yellowGreen; }

.servicesContainerClass {
  width: auto;
  height: auto;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  font-size: 3em;
  text-transform: uppercase;
  text-align: center;
  color: #0f98ab;
  margin-top: 10px;
  padding-top: 20px;
  padding-bottom: 30px;
  border: 0px solid yellowGreen; }

.servicesListClass {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  margin-top: 1px;
  color: #383c3c;
  border: 1px solid yellowGreen; }

.servicesULClass {
  border: 0px solid Purple; }

li {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.2em;
  font-weight: 300;
  display: block;
  width: 30%;
  float: left;
  border: 0px solid yellowGreen; }
