@charset "UTF-8";
/***********************************************
* Project: Webpack Language-Babel Sass Template
* Developer: rolandolloyd@gmail.com
* Copyright © 2015 GonzalesDesign
* Platform: ES2015, Webpack, Babel & Sass
* Module: SCSS to CSS
***********************************************/
@font-face {
  font-family: 'DINAlternateBold';
  src: url("/fonts/DIN Alternate Bold.ttf") format("ttf"); }

.mainContainer {
  height: auto;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0; }

.landingPageContainer {
  text-align: center;
  border: 1px solid Orange; }

.logoContainerClassX {
  height: auto;
  border: 1px solid Orange; }

.logoClass {
  height: 150px;
  width: 100%;
  border: 0px solid Orange; }

.landingPageDescription {
  text-align: center; }

.introParag1 {
  font-family: "DINAlternateBold", sans-serif;
  font-weight: 600;
  font-size: 1.2em;
  padding-top: 10px;
  border: 0 solid Orange; }

.introParag2 {
  font-family: "Open-Sans", sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  padding-top: 10px;
  border: 0 solid Orange; }

.menuNavContainerClass {
  margin-right: auto;
  margin-left: auto;
  border: 1px solid Green; }

.menuNavClass {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  display: inline-block;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  color: Grey;
  border: 1px solid Orange; }

h1 {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  font-size: 3em;
  color: Grey; }

h2 {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 400;
  font-size: 2em;
  margin-top: 10px;
  color: grayrgb(56, 60, 60);
  border: 1px solid yellowGreen; }

h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.8em;
  margin-top: 10px;
  color: grayrgb(56, 60, 60);
  border: 1px solid yellowGreen; }

h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  margin-top: 10px;
  color: grayrgb(56, 60, 60);
  border: 1px solid yellowGreen; }

#subHead {
  padding-left: 20px; }

p {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-size: 1em;
  margin-top: 10px;
  color: Red; }

.p2 {
  font: italic bold 18px/30px Georgia, serif;
  width: 50%; }

/**-----|  |-----**/
/**-----| SERVICES |-----**/
.ulContainerClass {
  height: 350px;
  background-color: #e2e3e3; }

.servicesContainerX {
  width: auto;
  height: auto;
  text-align: center;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 300;
  font-size: 3em;
  text-transform: uppercase;
  margin-top: 10px;
  color: #16579a;
  border: 1px solid yellowGreen; }

.servicesContainerClass {
  width: auto;
  height: auto;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  font-size: 3em;
  text-transform: uppercase;
  text-align: center;
  color: #16579a;
  margin-top: 10px;
  padding-top: 20px;
  padding-bottom: 30px;
  border: 0 solid yellowGreen; }

.servicesListClass {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  margin-top: 1px;
  color: #383c3c;
  border: 1px solid yellowGreen; }

.servicesULClass {
  border: 0 solid Purple; }

li {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.2em;
  font-weight: 300;
  display: block;
  width: 30%;
  float: left;
  border: 0 solid yellowGreen; }

/**-----| RESPONSES |-----**/
.responseTitleContainerClass {
  width: auto;
  height: auto;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 3em;
  text-transform: uppercase;
  text-align: center;
  color: #16579a;
  margin-top: 10px;
  padding-top: 20px;
  padding-bottom: 30px;
  z-index: 101;
  background: url("../images/imagesTemp_05.jpg") no-repeat center center;
  background-size: 100%;
  border: 0 solid yellowGreen; }

.testimonialsContainerClass {
  width: 80%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Helvetica', sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  text-align: center;
  font-style: italic;
  padding-top: 20px;
  padding-bottom: 20px; }

/**-----| HEALTH CARE |-----**/
.healthMainContainerClass {
  height: auto;
  background-color: #e2e3e3;
  border: 0 solid yellowGreen; }

.healthContainerClass {
  height: auto;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  border: 0 solid Red; }

.healthTitleContainerClass {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 3em;
  text-transform: uppercase;
  text-align: center;
  color: #16579a;
  margin-top: 10px;
  padding-top: 20px;
  padding-bottom: 30px; }

.healthQuoteContainerClass {
  font-family: 'Helvetica', sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  text-align: center;
  font-style: italic;
  padding-top: 20px;
  padding-bottom: 20px; }

.additionalInfo {
  padding-top: 20px;
  font-style: normal;
  border: 0 solid Red; }

/**-----| CAROUSEL |-----**/
#modalCarousel {
  width: 100%; }

.active {
  color: #0f98ab; }

.carousel-indicators {
  /*background-color: yellowGreen;*/
  left: 50%;
  border: 1px solid Grey; }

.carousel-indicators li {
  border: 1px solid #0f98ab;
  border-radius: 10px;
  width: 14px;
  height: 14px;
  margin: 10px; }

.carousel-indicators .active {
  width: 18px;
  height: 18px;
  margin: 10px;
  background-color: #0f98ab; }

.item {
  width: 100%;
  /*height = "auto";*/ }

.imgClass {
  position: relative;
  padding: 0px;
  margin: 0px;
  /*overflow   : hidden;
    border       : 1px solid cyan;*/
  /*width  : 100%;
     height  : 100%;*/
  min-width: 210px;
  /*minHeight : 810px;*/
  background-size: cover; }

.titleDescriptionBoxClass {
  width: 100%;
  position: absolute;
  top: 50%; }

.carouselTitleBoxClass {
  /*position: absolute;*/
  /*top: 50%;*/
  text-align: center;
  padding-left: 20px;
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* float: left; */
  color: #1b2324;
  font-family: "Oswald", sans-serif;
  font-size: 4em;
  border: 1px solid grey; }

.carouselDescriptionBoxClass {
  /*position: absolute;*/
  /*top: 60%;*/
  text-align: center;
  padding-left: 20px;
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* float: left; */
  color: Grey;
  font-family: "Open Sans", sans-serif;
  font-size: 2em;
  border: 1px solid yellow; }

/**-----| TEMP MISCELLANEOUS DEVELOPMENT PHASE |-----**/
.bottomSpace {
  padding-top: 200px; }
